<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

  <bean class="com.xworkz.spring.repositary.CustomerRepositaryImpl" 
  id="customerRepositaryImpl" scope="singleton"></bean>

	<bean class="com.xworkz.spring.service.CustomerServiceImpl"
		id="customerServiceImpl">
		<constructor-arg ref="customerRepositaryImpl" />
	</bean>


 <bean class="com.xworkz.spring.repositary.FoodItemRepositaryImpl" 
  id="foodItemRepositaryImpl" scope="singleton"></bean>

	<bean class="com.xworkz.spring.service.FoodItemServiceImpl"
		id="foodItemServiceImpl">
		<constructor-arg ref="foodItemRepositaryImpl" />
	</bean>
	
	<bean class="com.xworkz.spring.repositary.HotelVendorRepositoryImpl" 
  id="hotelVendorRepositoryImpl" scope="singleton"></bean>

	<bean class="com.xworkz.spring.service.HotelVendorServiceImpl"
		id="hotelVendorServiceImpl">
		<constructor-arg ref="hotelVendorRepositoryImpl" />
	</bean>

</beans>