<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

  <bean class="com.xworkz.itc.ITCProduct" id="iTCProduct">
  <constructor-arg value="AshirvadAata" />
  <property name="type" value="${iTCProduct.type}"></property>
   <property name="expDate" value="${iTCProduct.expDate}"></property>
  </bean>

<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
 id="propertyPlaceholderConfigurer">
 <property name="location" value="dew.properties"></property>
 </bean>
 
 
<bean class="com.xworkz.spring.component.washing.WashingMachine" 
              id="washingMachine">
<property name="companyName" value="LG"></property>
<property name="capacity" value="800.00" ></property>
<property name="motor" ref="motorComponent"></property>
<property name="power" ref="powerComponent"></property>


</bean>

<bean class="com.xworkz.spring.component.washing.PowerComponent" id="powerComponent">

</bean>

<bean class="com.xworkz.spring.component.washing.MotorComponent" id="motorComponent">
<property name="warrantPeriod" value="3 "></property>
</bean>




<bean class="com.xworkz.spring.component.WardenComponent"
		id="wardenComponent">
		<constructor-arg value="Jyothi"></constructor-arg>
	</bean>
	<bean class="com.xworkz.spring.component.PGComponent"
		id="pGComponent">
		<constructor-arg ref="wardenComponent"></constructor-arg>
		<property name="ownerName" value="Ashok"></property>
	</bean>
</beans>